@import '../App.scss';

.VisualDataSection {
    display: flex;
    margin-top: 10px;
    padding-bottom: 30px;
    font-family: 'Bebas-Regular';

    &__ChartCaption {
        margin: 0;
    }

    .BarChartSeries {
        width: 80%;
        margin-left: 20px;
    }

    .BenchmarkSection {
        padding-left: 40px;
    }

    .BenchmarkTile {
        border: 1px solid $primary-black;
        margin: 0;
        padding: 5px;
        width: 100%;

        &:nth-child(even) {
            background-color: $secondary-purple;
            color: $primary-white;
        }
    }
}