// font-sizes

// colors
$primary-purple: #785AF8;
$secondary-purple: rgba(#785AF8, 0.8);
$tertiary-purple: rgba(#785AF8, 0.6);
$primary-black: #333333;
$primary-white: #ffffff;

// spacings

// font families
@font-face {
  src: url('./assets/fonts/BebasNeue-Regular.ttf');
  font-family: 'Bebas-Regular';
}
